.list {
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    svg {
      path {
        stroke: #868686;
      }
    }
    span {
      color: #767676;
    }

    &:hover {
      svg {
        path {
          stroke: #000000;
        }
      }
      span {
        color: #000000;
      }
    }
  }

  li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    transition: background-color 0.15s ease-in-out;

    &:hover #{$self}__remove-icon {
      opacity: 0.2;
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.5);
    }

    span {
      flex: 1;
    }

    &.active {
      background: #ffffff;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      padding: 10px 12px;
    }

    .badge {
      position: relative;
      left: 4px;
    }

    i {
      margin-right: 8px;
      display: inline-flex;
      img {
        opacity: 0.6;
      }
    }
  }
}
